html {
	font-family: 'Kavivanar', cursive;
}

h1 {
	font-weight: bold;
}

button {
    font-size: .8em;
    border: 1px solid black;
    border-radius: 12px;
    background-color: light gray;
    transition: all ease .3s;
    float: right;
}

button:hover {
    color: white;
    border: 2px solid white;
    background-color: black;

}

li {
	display: inline;
	border-right: 1px solid black;
	padding: 0em 2em 0em 2em;
}

li:last-child {
	border-right: none;
}

a:visited {
	color: blue;
}

div.container {
	display: flex;
}

input {
	padding: .5em;
	border: 2px solid black;
	margin: .5em;
}

textarea {
	width: 40em;
	height: 15em;
	box-sizing: border-box;
	border: 2px solid black;
	margin: .5em;
}

label {
	margin: .5em;
}

div.left {
	margin-right: 10px;
}

table {
	border-collapse: collapse;
}


table, td, th {
	text-align: left;
	padding: .5em;
}


div.name {
	max-width: 15em;
	max-height: 2em;
	min-height: 1em;
	white-space: nowrap;
 	overflow: hidden;
 	text-overflow: ellipsis;
}

div.description {
	max-width: 4em;
	text-overflow: ellipsis;
	max-height: 2em;
	min-height: 1em;
	white-space: nowrap;
  	overflow: hidden;
}


tr:nth-child(even) {
	background-color: #fff;
}

tr:nth-child(odd) {
	background-color: #eee;
}

th {
	background-color: #ddd;
	font-weight: normal;
}

.login {
	margin: 0 auto;
	width: 250px;
}

.story {
	color: white;
	background-color: black;
	margin-bottom: 1em;
	max-height: 4em;
	min-height: 4em;
	overflow-y: auto;
}

.story > game-story-book > p {
	margin: 0;
	padding: 0;

}

.resource {
	font-size: 1.3em;
}


.gen-container {
	display: flex;
	justify-content: center;
}

game-generator {
	border: 1px solid black;
	max-width: 12em;
	min-width: 12em;
	margin: 1em;
	padding: .5em;
}

.generator-name {
	font-size: 1.2em;
}

.generator-count {
	float: right;
	font-size: .5em;
}

.rate {
	font-size: .5em;
}

footer {
	text-align: center;
}